@import "tailwindcss";

@theme {
  /* Palet Warna Custom Kita */
  --color-chill-bg: #0f172a;
  --color-neon-cyan: #22d3ee;
  --color-neon-coral: #fb7185;
}

body {
  background-color: var(--color-chill-bg);
  color: #e2e8f0; /* Warna slate-200 untuk teks dasar */
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
}
